@font-face {
    font-family: 'Neue Montreal';
    src: url('fonts/NeueMontreal-Light.woff2') format('woff2'),
        url('fonts/NeueMontreal-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
 body {
    font-family: 'Neue Montreal';
    margin: 0;
    padding: 0;
    background: #fcfcfc;
    overflow-x: hidden;
        }


html{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
  }


        .navbar {
            
            justify-content: space-between;
            background-color: #333;
            color: white;
            padding: 15px;
        }

        .navbar a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
        }

        .navbar a:hover {
            color: #fcfcfc;
        }

        .header {
            background-image: url('path/to/your/header/image.jpg');
            height: 50vh;
            background-size: cover;
            background-position: center;
            text-align: center;
            padding: 20px;
        }

        .header h1 {
            color: white;
            font-size: 2em;
        }
  
 
        .header p {
            color: white;
        }

        .portfolio {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 20px;
        }

        .portfolio div {
            margin: 15px;
        }

        .portfolio img {
            max-width: 300px;
        }


        #cat{

            margin-bottom: 1px;
        }

        #dog{
            margin-top: 0px;
        }


        .navbar {
            
            justify-content: space-evenly;
            background-color: #333;
            padding: 20px;
        }
        
        .navbar div {
            transition: transform 0.3s ease-in-out;
        }
        
        .navbar a {
            color: #fff;
            text-decoration: none;
            font-size: 1.1em;
            
            margin-bottom: 10px;  /* Adjust this value to your preference */
        }
        
        .navbar div:hover {
            transform: scale(1.2);
        }
        

    
       
       
        #dog {
            color: #000;
           
        }
        
        #glitch-word {
            position: relative;
            color: #000;
            animation: colorize 1s infinite linear alternate;
        }
        
        .glitch {
            position: absolute;
            top: 0;
            left: 0;
            color: #fff;
            background: black;
            overflow: hidden;
            animation: glitch 500ms infinite linear alternate-reverse;
        }

        .siteHeader_nav ol li ._text {
            position: relative;
            transition-property: opacity;
            transition-duration: .4s;
            transition-timing-function:cubic-bezier(0.1, 0.4, 0.2, 1)
        }
        
        .siteHeader_nav ol li ._text::before {
            content: "";



            display: block;
            position: absolute;
            left: -5px;
            top: -5px;
            width: calc(100% + 10px);
            height:calc(100% + 10px)
        }
        
        @media (hover: hover) {
            .siteHeader_nav ol li ._text:hover {
                opacity:.25
            }
        }
        
        .siteHeader_nav ol li.is-selected ._text {
            opacity:0
        }
        

        .siteHeader_nav ol li a {
            text-decoration: none;
        }

        @keyframes staticFadeIn {
            0% { opacity: 0; filter: brightness(0%); transform: scale(1) }
            30% { opacity: 0.1; filter: brightness(80%); transform: scale(1.08)}
            50% { opacity: 0.3; filter: brightness(90%); }
            70% { opacity: 0.5; filter: brightness(100%);transform: scale(1)}
            100% { opacity: .8; filter: brightness(100%);  }
         
           

          }


            
           
         



       #logo{
        height: 320px;
        animation: staticFadeIn 4s linear;
        border-radius: 8px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2)
       
       }




       .el{
        width: 7px;
        height: 7px;
        background-color: rgb(201, 215, 215);
      position: absolute;
      top: 595px;
      
       }

      

 @media screen and (min-width: 1000px) {
    .el{
        width: 7px;
        height: 7px;
        background-color: rgb(201, 215, 215);
      position: absolute;
      top: 600px;
       }
 }

      
      a {
        color : black;
        text-decoration: none;
      }

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }


      .stagger-visualizer {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 17rem;
        height: 17rem;
        top: -375px;
        z-index: 1;
        
        
       
    }
      
      .stagger-visualizer div {
        /*position: absolute;*/
        width: 1rem;
        height: 1rem;
        border: 1px solid #efeeee;
        background-color: #eae6e6;
        
      }


      .footer{
        
        position: relative;

        font-size: 11px;
      }

/*  this is a cool verticle animation, good for laptop size screen, or maybe call this on random?
     /*
      .stagger-visualizer div {
        position: absolute;
        width: 1rem;
        height: 1rem;
        border: 1px solid #efeeee;
        background-color: #eae6e6;
        width: 100%;
      }
      */
      /* this one looks really cool too
      .stagger-visualizer div {
        position: absolute;
        width: 1rem;
        height: 1rem;
        border: 1px solid #efeeee;
        background-color: #eae6e6;
        width: 100%;
        height: 40%;
      }
     */

 
     #nuggieLogo{
        width: 200px;
     }


     #web-design{

        border-width: 2px;
        border-color: #eceaea;
        border-style: solid;
        border-radius: 10px;
        transition: .9s ease;
     
     }

     #web-design:hover{
        filter: grayscale(1);
     }

     #web-text{
        text-align: center;
        
     }

     #graphic-design{

        border-width: 2px;
        border-color: #eceaea;
        border-style: solid;
        border-radius: 10px;
        transition: 1s ease ;
     }

#graphic-design:hover{
    
    filter: invert(.9);
}


      #portfolio-header {
        display: flex;
        justify-content: flex-start; /* align items to the start of the flex container */
        transform: translateY(-15px);
        margin-bottom: 30px;
    }

    .header-portfolio{

        display: flex;

        
    }



      .header-portfolio-graphic-design{

        display: flex;
position: relative;
        top: 100px;
        
    }



  
    .menu {
        position: absolute;
        opacity: 0;     
        background-color: #fcfcfc;
        transform: translateY(-100%);
        transition: background-color 2s ease-in-out, opacity 2s ease-in-out,transform 2s ease-in-out;; 
        margin-left: -50px;
        z-index: 1;
    }

    .menu-graphic-design-portfolio {
        position: absolute;
        opacity: 0;     
        background-color: #fcfcfc;
        transform: translateY(-100%);
        transform: translateX(-10%);
        transition: background-color 2s ease-in-out, opacity 2s ease-in-out,transform 2s ease-in-out;
       margin-left: -50px;
       bottom: 10px;
        z-index: 1;
    }


    .class-menu{
        position: relative;
        left: 1000px;
    }
    
    .hamburger {
        font-size: 2em;
        background: none;
        border: none;
        display: block;
        margin-left: 40px;
    }
    
    .menu.open {
        
        opacity: 1;    
        display: flex;
        flex-direction: column;
        
        left: 275px;
        
        font-size: 22px;
        transform: translateY(22px);
        padding: 10px;
        

       
        
        border-radius: 10px;
        
    }
    
    .footer-portfolio{
        
        background-color: rgb(174, 254, 254);
        position: relative;
    }

    .footer-homepage{
        position: relative;
        bottom: -1px;
    }


    #graphic-design-text{
        text-align: center;
        
    }


    .portfolio-a {
        position: relative;
        top: -195px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        height: 100vh; /* Set to the height you want */
    }


    
    .item-a {
        width: 80%; /* Adjust as needed */
        
        border-width: 2px;
    border-color: #eceaea;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    }
    
    .item-a img {
        width: 100%;
        height: auto;
    }

    @media (min-width: 600px){

        .portfolio-a{
            width: 60%;
            margin: auto;
        }
    }

    @media (min-width: 1200px){

        .portfolio-a{
            width: 40%;
            margin: auto;
        }
    }



    #home{

        margin-bottom: 100px;
    }


#graphic-design-hamburger-bar{
    display: flex;
    margin: auto;
   
}

@media ( min-width: 350px){
.function-based-values-demo{
display: flex;
    position: relative;
    
    top: -475px;
    

}
}

@media ( min-width: 350px){
    .function-based-values-b{
    display: flex;
        position: relative;
        
        top: -740px;
       margin-left: 40px;
        
    
    }
    }




.header-for-contact-page{
    display: flex;
    margin: auto;
    justify-content: center;
}

.socials-div{
    display: flex;
    flex-direction: column;
}

.header-for-about-page{
    display: flex;
    margin: auto;
    justify-content: center;
}


.contact-info{
    border-width: 2px;
        border-color: #eceaea;
        border-style: solid;
        border-radius: 10px;
        margin-bottom: 20px;
        margin-left: 5px;
        margin-right: 5px;
        width: 100%;
}

.contact-form{
    border-width: 2px;
    border-color: #eceaea;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    
}

.contact-social-container{
    display: flex;
}

.socials-animation-contact{
    display: flex;
    position: relative;
   
}

.design-philosophy-about{
    border-width: 2px;
    border-color: #eceaea;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.hey-about{
    border-width: 2px;
    border-color: #eceaea;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.photo-about{

    border-width: 2px;
    border-color: #eceaea;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
   
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}

#subheading-about{
    margin-top: 0px;
    position: relative;
    top: -22px;
}

#subheading-contact{
    margin-top: 0px;
    position: relative;
    top: -22px;
}

.contact-about{
    border-width: 2px;
    border-color: #eceaea;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


@keyframes bounce {
 
    0% { transform: scale (1.0);}
    10% { transform: scale (1.1);}
    20% { transform: scale (0.9);}
    30% { transform: scale (1.05) }
    40% { transform: scale(0.95); }
    50% { transform: scale(1.02); }
    60% { transform: scale(0.98); }
    100% { transform: scale(1.0); }


}

.bounce {

    animation-name: bounce;
    animation-duration: 0.6s;
}

.Image-2{
    margin-top: 10px;
    border-radius: 4px;
}

.contact-me-h2{
    border-width: 2px;
    border-color: #eceaea;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;

}


@media only screen and (min-width: 500px){
    .about-menu{
    
        margin-left: 80px;
                   
    }
    }





@media only screen and (min-width: 550px){
    .about-menu{
    
        margin-left: 130px;
                   
    }
    }



@media only screen and (min-width: 600px){
.about-menu{

    margin-left: 180px;
               
}
}

@media only screen and (min-width: 650px){
    .about-menu{
    
        margin-left: 210px;
                   
    }
    }

@media only screen and (min-width: 700px){
    .about-menu{
    
        margin-left: 240px;
                   
    }
    }

    @media only screen and (min-width: 750px){
        .about-menu{
        
            margin-left: 290px;
                       
        }
        }
@media only screen and (min-width: 850px){
    .about-menu{
    
        margin-left: 365px;
                   
    }
    }
@media only screen and (min-width: 900px){
    .about-menu{
    
        margin-left: 400px;
                   
    }
    }


    @media only screen and (min-width: 950px){
        .about-menu{
        
            margin-left: 440px;
                       
        }
        }



        @media only screen and (min-width: 1050px){
            .about-menu{
            
                margin-left: 580px;
                           
            }
            }

            @media only screen and (min-width: 1150px){
                .about-menu{
                
                    margin-left: 530px;
                               
                }
                }
    @media only screen and (min-width: 1200px){
        .about-menu{
        
            margin-left: 530px;
                       
        }
        }

        @media only screen and (min-width: 1350px){
            .about-menu{
            
                margin-right: 750px;
                           
            }
            }
       
        @media only screen and (min-width: 1400px){
            .about-menu{
            
                margin-right: 800px;
                           
            }
            }
            @media only screen and (min-width: 1450px){
                .about-menu{
                
                    margin-right: 875px;
                               
                }
                }
                @media only screen and (min-width: 1500px){
                    .about-menu{
                    
                        margin-right: 10000px;
                                   
                    }
                    }
                    @media only screen and (min-width: 1600px){
                        .about-menu{
                        
                            margin-right: 100px;
                                       
                        }
                        }

  
    
        .contact-social-container{
        border-width: 2px;
    border-color: #eceaea;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;

       height: 250px
    
        }

        